bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.CsvTools/.idea/indexLayout.xml
/.idea/.idea.CsvTools/.idea/.gitignore
/.idea/.idea.CsvTools/.idea/encodings.xml
/.idea/.idea.CsvTools/.idea/misc.xml
/.idea/.idea.CsvTools/.idea/vcs.xml
/CsvTools/Scraps/
/CsvTools.sln.DotSettings.user
